<div class="content_page_options_holder">
  <h2>Options:</h2>
  <%= render :partial => 'form_options', :locals => {:f => f}%>

</div>  
  
  <%= f.text_area :body, {:class => "page_markitup", :plain => true} %>