<%
  page ||= @page
%>

<% less_remote_form_for page, :url => admin_pages_path do |f| %>
  <%= f.text_field :title %>
  <%= f.select :kind, page_kinds%>

  <div class="row button">
    <%= f.submit "Create", :class => "button" %>
  </div>
<% end %>
